<div class="row">
    
    <div class="offset-sm-2 offset-md-2 offset-lg-2 col-sm-4 col-md-4 col-lg-4">
        <strong>Total Number of Days:</strong>
    </div>
    <!-- <div class="offset-sm-2 offset-md-2 offset-lg-2 col-sm-4 col-md-4 col-lg-4">
        <strong>Total Amount to Invoice:</strong>{{this.orders.totalPrice.total_price}}
    </div> -->
    <div class="offset-sm-2 offset-md-2 offset-lg-2 col-sm-4 col-md-4 col-lg-4">
        <strong>Number of Orders:</strong>
    </div>
</div>

<div *ngFor="let order of orders">
    <div *ngFor="let x of order.recipient">
        <strong>Recipient Name:</strong>{{x.name}}
        <strong>Recipient Email Address:</strong>{{x.email}}
    </div>
    <div *ngFor="let y of order.items">
        <strong>Item Id:</strong>{{y.id}}
        <strong>Item Name:</strong>{{y.name}}
    </div>
    <div>
        <strong>Time when order was made:</strong>{{order.created_at}}
    </div>
    <div *ngFor="let z of order.delivery">
        <strong>Courier Name:</strong>{{z.courier}}
        <strong>Courier Method:</strong>{{z.method}}
    </div>
    <div *ngFor="let p of order.charge_customer">
        <strong>Total Price of the Order:</strong>{{p.amount}}{{p.currency}}
    </div>
</div>







<!-- <div class="row">
    <!-- <div class="col-sm-12 col-md-12 col-lg-12">
        <p-table [columns]="colHeaderOrders" [value]="orders" reponsive="true">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [style.width]="col.width">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr  [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns">
                            <ng-template>
                            {{rowData[col.field][col.subfield]}}
                            </ng-template>
                            <ng-template>
                            {{rowData[col.field]}}
                            </ng-template>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div> 
</div> -->
